<!--
  Generated template for the FeescustPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fees</ion-title>
  </ion-toolbar>


  <ion-segment [(ngModel)]="category" style="background-color:#e4f3f7!important">
    <ion-segment-button value="paynow" style="border:none;color:black;font-size:12px">
      PAY NOW
    </ion-segment-button>
    <ion-segment-button value="feedetail" style="border:none;color:black;font-size:12px" (click)="applied_leaves()">
      FEE DETAIL
    </ion-segment-button>
    <ion-segment-button value="transactions" style="border:none;color:black;font-size:12px">
      TRANSACTIONS
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ng-container [ngSwitch]="category">
  <ion-content style="background-color: #eceff8;">




    <ng-container *ngSwitchCase="'feedetail'">
      <ion-list>
        <ng-container *ngIf="this.NoBillScheme != 'Y'">
          <ng-container *ngFor="let fee of this.feesdetail;let q=index">
            <ion-item style="margin-top: 10px;" lines="none">
              <div style="width: 100%;height: 100%;">

                <div
                  style="border-top-left-radius: 12px;
border-bottom-left-radius: 12px;width: 6%;float: left;background: linear-gradient(#d8a1c9, #4e79a3)!important;height:100%;display: flex;justify-content: center;align-items: center;">
                </div>

                <div style="width: 92%;float: left;background-color: white;padding: 7px;">
                  <p style="font-size:14px;white-space: pre-line;color: #055073;"><b>{{fee[0].BillGroupName}} </b></p>
                  <p style="margin-top: 5px;font-size:11px !important;">Total Fees :{{fee[0].TotalAmount}}</p>
                  <p style="margin-top: 5px;font-size:11px !important;">Total Paid : {{fee[0].TotalAmountPaid}}</p>
                  <p style="margin-top: 5px;font-size:11px !important;">Total Due : {{fee[0].TotalAmount_Un_Paid}}</p>
                  <p style="margin-top: 5px;font-size:11px !important;">Session : {{fee[0].SessionCaption}}</p>

                </div>
              </div>
            </ion-item>
          </ng-container>
        </ng-container>




      </ion-list>



      <ion-list style="background-color: #F0F5F8;height: 100%;" *ngIf="this.NoBillScheme == 'Y'">
        <ion-card>
          <ion-item>
            <div style="width:100%;">
              <h6 style="font-size: 12px;color: gray;">No Transactions/BillScheme To Show !!</h6>


            </div>
          </ion-item>

        </ion-card>
      </ion-list>
    </ng-container>











     <!-- Pay Now Section Starts-->

    <ng-container *ngSwitchCase="'paynow'">
      <ion-card style="background: linear-gradient(#d8a1c9, #4e79a3)!important;">
        <ion-grid>
          <ion-row>
        <ion-col size="4">
              <div class="profile-image-container">
                <img *ngIf="this.image == ' '"  src="/assets/commonimage.jpg" alt="Profile Image" class="profile-image" >
                <img *ngIf="this.image != ' '"  src="{{this.image}}" alt="Profile Image"  class="profile-image"> 
              </div>
        </ion-col>


            <ion-col size="8">
              <ion-row class="custom-row">
                <ion-col size="12" class="text-column">
                  <p class="text" style="font-size: 14px!important;">{{this.studentname}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="custom-row">
                <ion-col size="12" class="text-column">
                  <p class="text" style="font-size: 13px!important;margin-top: -27px;margin-left: 25%;">
                    {{this.EnrollNo}}</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">



              <ion-row class="custom-row" style="border-bottom: solid white 1px;">
                <ion-col size="5" class="text-column">
                  <p class="text">Class</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">{{this.classname}}</p>
                </ion-col>
              </ion-row>



              <ion-row class="custom-row" style="border-bottom: solid white 1px;">
                <ion-col size="5" class="text-column">
                  <p class="text">Fees Type</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">Student Fees</p>
                </ion-col>
              </ion-row>


              <ion-row class="custom-row" style="border-bottom: solid white 1px;">
                <ion-col size="5" class="text-column">
                  <p class="text">Due Amount</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">{{this.due_amount}}</p>
                </ion-col>
              </ion-row>


              <ion-row class="custom-row" style="border-bottom: solid white 1px;">
                <ion-col size="5" class="text-column">
                  <p class="text">Fine Amount</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">{{this.fine_amount}}</p>
                </ion-col>
              </ion-row>

              <ion-row class="custom-row" style="border-bottom: solid white 1px;">
                <ion-col size="5" class="text-column">
                  <p class="text">Concession Amount</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">{{this.concession_amount}}</p>
                </ion-col>
              </ion-row>


              <ion-row class="custom-row" style="border-bottom: solid white 1px;" >
                <ion-col size="5" class="text-column">
                  <p class="text">Amount to be Paid</p>
                </ion-col>
                <ion-col size="7" class="amount-column text-right">
                  <p class="amount">{{this.total_amount}}</p>
                </ion-col>
              </ion-row>


           


            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


      <button ion-button block color="color1" (click)="PayNow()" style="box-shadow: rgb(132 156 171) 0px 0px 4px;width: 40%;margin-left: 56%;
      color: white;font-size:13px;font-weight:bold;border-radius: 5px;margin-bottom: 10px;margin-top: 10px;
     padding: 9px;border: solid #D8A1C9 1px; color: white;background: linear-gradient(to right, #D8A1C9, #4e79a3);">
                    <img src="assets/paymentproceed.png" style="    height: 20px;
     width: 23px;margin-right: 12px;margin-bottom: -5px;
     margin-left: -5px;border-radius: 10%!important;">
                    Pay Now</button>


    </ng-container>

    <!-- Pay Now Section Ends-->





      <!-- Transaction starts -->

  <ng-container *ngSwitchCase="'transactions'">
    <ion-list>
      <ng-container *ngIf="this.NoBillScheme != 'Y'">
        <ng-container *ngFor="let transaction of this.Transactions;let q=index">
          <ion-item style="margin-top: 10px;" lines="none">
            <div style="width: 100%;height: 100%;">

              <div
                style="border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;width: 6%;float: left;background: linear-gradient(#d8a1c9, #4e79a3)!important;height:100%;
  display: flex;justify-content: center;align-items: center;">
              </div>

              <div style="width: 92%;float: left;background-color: white;padding: 7px;">
                <!-- <p style="font-size:14px;white-space: pre-line;color: #055073;"><b>Transaction No. :111111</b></p> -->
                <p style="margin-top: 5px;font-size:11px !important;">Reference No. : {{transaction.reference_no}}</p>
                <p style="margin-top: 5px;font-size:11px !important;">Request Date : {{transaction.payment_request_date}}</p>
                <p style="margin-top: 5px;font-size:11px !important;">Amount : {{transaction.total_amount}}</p>
                
                <p *ngIf="transaction.transaction_status == 'F'" style="margin-top: 5px;font-size:11px !important;">Status :<b style="color:red"> FAILED</b></p>
                <p *ngIf="transaction.transaction_status == 'P'" style="margin-top: 5px;font-size:11px !important;">Status : <b style="color:blue">PROCESS</b></p>
                <p *ngIf="transaction.transaction_status == 'S'" style="margin-top: 5px;font-size:11px !important;">Status :<b style="color:green"> SUCCESS </b></p>

                <p *ngIf="transaction.transaction_status == 'S'" style="margin-top: 5px;font-size:11px !important;" (click)="onlinereceiptopen(transaction.id)">
                Receipt:  <img src="assets/receipt_m.png" style="width:25px;height:25px;margin-bottom: -9px;" />
                </p>
              </div>
            </div>
          </ion-item>
        </ng-container>
      </ng-container>




    </ion-list>



    <ion-list style="background-color: #F0F5F8;height: 100%;" *ngIf="this.NoBillScheme == 'Y'">
      <ion-card>
        <ion-item>
          <div style="width:100%;">
            <h6 style="font-size: 12px;color: gray;">No Transactions/BillScheme To Show !!</h6>


          </div>
        </ion-item>

      </ion-card>
    </ion-list>
  </ng-container>
  <!-- Transactions Ends -->



  </ion-content>


</ng-container>