<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #F0F5F8;">

  
  <!--<div style="
   width: 250px;
    height: 250px;
    border-top: 250px solid gray;
    border-right: 359px solid transparent;"></div>-->



  <div style=" height: 110px;
  background: linear-gradient(#007ab3, #055073);
  border-bottom-left-radius: 193px 21px;
  border-bottom-right-radius: 250px 140px;
  margin-bottom: 20px;    box-shadow: -1px 7px #bbbec9;">
<p style="margin: 0px!important;padding-left: 20px;
font-size: 18px!important;color: white;padding-top: 5px;">Content Detail</p>
<div style="margin: 0px!important; width: 100%;padding-top: 7px;">


</div> 
</div>



<ion-list style="background-color: #F0F5F8;height: 100%;">
  <ion-card >
  <ion-item>
     <div style="width:100%;">
       <h5 style="font-size: 14px;color: #055073;"><b>as</b></h5>
      <h6 style="font-size: 12px;color: gray;">zx</h6>
          <!--<h6 style="height: 15px;" id="open-modal"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>-->
        <h6 style="height: 15px;text-align: center;font-size: 16px;color: #055073;" (click)="contentdetails()"><ion-icon name="chevron-down-circle-outline"></ion-icon></h6>
    </div>
  </ion-item>
</ion-card>
<!--<ion-card>
  <ion-item>
    <div style="width:100%;">
     <h5 style="font-size: 14px;color: #055073;"><b>Titlezxchjzxlckjzxkcj</b></h5>
     <h6 style="font-size: 12px;color: gray;">Detailklasjdklasjdkl</h6>
       <h6 style="height: 15px;"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>
   </div>
 </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <div style="width:100%;">
     <h5 style="font-size: 14px;color: #055073;"><b>Titlezxchjzxlckjzxkcj</b></h5>
     <h6 style="font-size: 12px;color: gray;">Detailklasjdklasjdkl</h6>
       <h6 style="height: 15px;"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>
   </div>
 </ion-item>
</ion-card>-->
</ion-list>








<ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="presentingElement">
  <ng-template>
  <ion-header>
    <ion-toolbar>

     
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">CLOSE</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list style="background-color: #F0F5F8;height: 100%;">
      <ion-card>
        <ion-item>
         <div style="width:100%;">
          <h5 style="font-size: 14px;color: #055073;"><b>Titlezxchjzxlckjzxkcj</b></h5>
          <h6 style="font-size: 12px;color: gray;">Detailklasjdklasjdkl</h6>
            <h6 style="height: 15px;" id="open-modal"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>
        </div>
      </ion-item>
    </ion-card>


    <ion-card>
      <ion-item>
          <div style="width:100%;">
        <h5 style="font-size: 14px;color: #055073;"><b>Titlezxchjzxlckjzxkcj</b></h5>
        <h6 style="font-size: 12px;color: gray;">Detailklasjdklasjdkl</h6>
          <h6 style="height: 15px;" id="open-modal" (click)="contentdetails()"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>
      </div>
    </ion-item>
  </ion-card>



  <ion-card>
    <ion-item>
     <div style="width:100%;">
      <h5 style="font-size: 14px;color: #055073;"><b>Titlezxchjzxlckjzxkcj</b></h5>
      <h6 style="font-size: 12px;color: gray;">Detailklasjdklasjdkl</h6>
        <h6 style="height: 15px;" id="open-modal"><ion-icon name="videocam-outline" style="color: #055073"></ion-icon> &nbsp;&nbsp;&nbsp;<ion-icon name="albums-outline" style="color: #055073"></ion-icon></h6>
    </div>
  </ion-item>
</ion-card>
</ion-list>
</ion-content>
</ng-template>
</ion-modal>
</ion-content>
