<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teacherhome"></ion-back-button>
    </ion-buttons>
    <ion-title>Connect With Us</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content style="--background: #eceff8;">
  <ion-grid style="margin-top: 10px;">
      
    <ion-row class="ion-text-center">
     
       <ion-col size="4">
          <div class="container" (click)="openwebsite()" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" style="border-radius: 50%;" >
                <img src="assets/website.png"  style="height: 80px;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 15px!important;">
          </div>
      </ion-col>
   </ion-row>




   <ion-row class="ion-text-center">
     
    <ion-col size="12">
       <ion-card style="padding: 5px;background-color: white;">

          <h2 style="color: #055073;"><u>Address</u></h2>
             <h4 style="font-size: 13px;text-align: justify;line-height: 20px;">The Junior Study,
                 Khudala Campus, Ambavgarh,
                 313001 Udaipur, Rajasthan
              </h4>

              <br/>
              <h4 style="font-size: 14px;color: #055073;"><b><ion-icon name="call-outline"></ion-icon>&nbsp; 0294 2432032</b></h4>
              <h4 style="font-size: 14px;color: #055073;"><b><ion-icon name="mail-outline"></ion-icon>&nbsp; thejunior.study@gmail.com</b></h4>
            </ion-card>
   </ion-col>
</ion-row>
 </ion-grid>
</ion-content>

