// ion-toolbar{
//     // --background: #055073;
//     --background:#055073;
//      --color: white; 
//    }
   ion-toolbar{
    // --background: #055073;
    --background: linear-gradient(#d8a1c9, #4e79a3)!important;
     --color: white; 
   }

          ion-item {
  --background: #ffffff !important;
  --color: #000 !important; // text color black
}