<ion-content>
  <section>
    
    <div style="text-align:center;margin-top: 60px;">
      <img src="assets/logo.png" style="height:120px;width:120px"/>
  </div>
  <div class="logo" style="margin-top:0px!important;text-align:center">
  
  <!--<a style="color: #ff9500;font-size:22px">LUCKY SHIKSHAN SANSTHAN</a>
  <a style="color: #ff9500;font-size:22px">NEOTIA</a>-->
  <br/>
  <!--<a style="color:white;font-size:20px">JODHPUR</a>-->
  </div>
    <div class="curve"></div>
  </section>

  <form #form="ngForm" >
    <ion-grid>
      <ion-row style=" margin-top: 85px;padding: 10px;    background-color: rgb(236, 239, 248);
      margin-left: 10px;  margin-right: 10px;  border-radius: 14px;" color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h4>ENTER OTP</h4>
          </div>
    
          <div padding>
            <ion-item style="height:43px;background-color: #F0F5F8;box-shadow: rgb(122 131 137) 0px 0px 4px">
              <!--<ion-icon name="mail-outline" item-left style="font-size: 23px;margin-right: 8px;"></ion-icon>-->
              <ion-icon name="call-outline" item-left style="font-size: 23px;margin-right: 8px;"></ion-icon>
            <ion-input class="ion-no-padding"  name="email" type="number" placeholder="OTP" [(ngModel)]="email" required></ion-input>
            </ion-item>
          </div>
          <div padding>
        
            <ion-button  color="linear-gradient(#007ab3, #055073)" 
            expand="block" size="large" 
            style="border-radius: 5px;height:38px;margin-top:15px;background: linear-gradient(#7e78bb, #473f97)!important;;
            font-size:17px;font-weight:bold;background-color: #10a3f7" type="submit" [disabled]="form.invalid" expand="block" (click)="signin()">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
