<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teacherhome"></ion-back-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <!-- <ion-row class="custom-rowheader" >
    <ion-col size="9" class="text-column">
      <p class="text">Classes</p>
    </ion-col>
    <ion-col size="3" class="amount-column">
      <p class="amount">&nbsp;</p>
    </ion-col>
  </ion-row> -->
<!-- this code is for student detail starts-->
<ng-container *ngFor="let studetail of studentdetail">
  <ion-row class="custom-row-top" (click)="stufeedetail(studetail.stuid)">
    <ion-col size="12">
      <div style="width: 100%;">
        <div style="float: left; width: 20%;"><img src="./assets/010.png" style=" height: 40px; width: 40px; border-radius: 50%;"></div>
        <div style="float: left; width: 80%;">
          <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;">
            <div style="width: 80%; text-align: left;font-size: 12px;color:black">{{ studetail.Stu_Name }}</div>
            
          </div>
          <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;">
            <div style="width: 100%; text-align: left;font-size: 11px;color:gray">Father - {{ studetail.Father_Name }}</div>
            <div style="width: 70%; text-align: right;font-size: 11px;color:gray">&nbsp;</div>
            <ion-icon name="chevron-forward-outline" style="color: gray;"></ion-icon>
          </div>
          
        </div>
      </div>
    </ion-col>
  </ion-row>
</ng-container>
<!-- this code is for student detail ends-->


  <ng-container *ngFor="let billdetail of billgroupdetail">

    <!-- <ion-row>
      <ion-col size="4"><img [src]="student.photo" *ngIf="student.photo" style="margin-top: -10px;height: 40px;width: 40px;border-radius: 50%;">
          <img src="./assets/010.png" *ngIf="!student.photo" style="margin-top: -11px;height: 40px;width: 40px;border-radius: 50%;">
      </ion-col>
      <ion-col size="7" style="font-size: 11px;font-weight:bold;margin-top: -10px;background-color: white!important;color: black;height: 33px;">{{student.stuname}}
         <br/>
         <p style="color:gray;margin-top: 4px;">
          {{student.enrollno}}
         </p>
         
      </ion-col>
  </ion-row> -->

  <ion-row class="custom-row" >
    <ion-col size="12">
      <div style="width: 100%;">
        <!-- <div style="float: left; width: 20%;"><img src="./assets/010.png" style=" height: 40px; width: 40px; border-radius: 50%;"></div> -->
        <div style="float: left; width: 100%;">
          <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;">
            <div style="width: 80%; text-align: left;font-size: 15px;color:black">{{ billdetail.BillGroupName }}</div>
            <div style="width: 70%; text-align: right;font-size: 12px;color:gray">&#8377; {{billdetail.Amount}}</div>
          </div>
          <div style="width: 100%;  align-items: center; justify-content: space-between;padding-top:3px;">
            <div style="width: 50%; text-align: left;font-size: 12px;color:gray">{{ billdetail.MonthName }}</div>
          </div>
          <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;padding-top:3px;">
            <div style="width: 50%; text-align: left;font-size: 12px;color:gray">{{ billdetail.EffectiveDate }}</div>
            <div style="width: 70%; text-align: right;font-size: 10px;color:green;padding-right:5px;" *ngIf="billdetail.is_paid == 'Y'">[PAID]</div>
            <div style="width: 70%; text-align: right;font-size: 10px;color:red;padding-right:5px;" *ngIf="billdetail.is_paid == 'N'">[UNPAID]</div>
          </div>
          
          
        </div>
      </div>
    </ion-col>
  </ion-row>
  
  

  
  
  <!-- <ion-row class="custom-row" >
    <ion-col size="3">
       <img [src]="student.photo" *ngIf="student.photo" style="margin-top: -10px;height: 40px;width: 40px;border-radius: 50%;"> 
      <img src="./assets/010.png" style="margin-top: -11px;height: 40px;width: 40px;border-radius: 50%;">
  </ion-col>
  
  <ion-col (click)="secwiseDue(DueAmount)" size="6" class="text-column">
    <p class="text">{{ this.Final_Due_Amount_Array[DueAmount].Stu_Name }}</p>
    <p class="text valsss">Valsss</p>

  </ion-col>
  
    <ion-col size="2" class="amount-column">
      <p class="amount">&#8377; {{this.Final_Due_Amount_Array[DueAmount].Due_Amount}}</p>
    </ion-col>
    <ion-col size="1" class="amount-column">
      <ion-icon name="chevron-forward-outline" style="color: gray;"></ion-icon>
    </ion-col>
  </ion-row> -->
  </ng-container>
  

</ion-content>