<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="'#ffffff'">
  <ion-grid class="grid2">
    
      <!--<header>
        <p style="margin-top:4px;color: white;font-weight: bold;text-transform: uppercase;margin-left: 10%;">&nbsp;</p>
        <span style="font-size:18px;color: white;font-weight: bold;text-transform: uppercase;margin-left: 10%;">{{this.fname}}</span>
        <p style="margin-top:4px;color: white;font-weight: bold;text-transform: uppercase;margin-left: 10%;">&nbsp;</p>
        
        <img src="https://assets.codepen.io/t-517/divider-triangle.png" class="divider" />
        <div style="    float: right;padding: 10px;background-color: white;margin-right: 5%;
        margin-top: 5%;/* width: 62%; */border-radius: 50px;">
        
            <img *ngIf="this.image == ''" src="/assets/dummy.png" style="height: inherit; width: inherit;clip-path: inset(6px 7px);height: 80px;"/> 
          <img *ngIf="this.image != ' '" src="{{this.image}}" style="height: inherit; width: inherit;clip-path: inset(6px 7px);height: 70px;"/> 
            
          </div>
      </header>-->
    <!-- <div style="height:140px;background-image: linear-gradient(#007ab3, #055073);"> -->
      <div style="height:80px;background-color: #e4f3f7;">
     <br/>
      <span style="font-size:18px;color: #575757;font-weight: bold;text-transform: uppercase;margin-left: 10%;">{{this.studentname}}</span>
    <!--  <br/>
      <span style="font-size:12px;color: #ff9500;font-weight: bold;text-transform: uppercase;margin-left: 10%;">{{this.batch_name}}</span>
      <br/>
      <span style="font-size:12px;color: #ff9500;font-weight: bold;text-transform: uppercase;margin-left: 10%;">Asmission Date : {{this.date_of_admission}}</span>
      <br/>
      <span style="font-size:12px;color: #ff9500;font-weight: bold;text-transform: uppercase;margin-left: 10%;">Blood Group : {{this.blood_group}}</span>
    -->



      

    <!-- <div style="float: right;text-align: center;" *ngIf="this.image_big == 0" >

      <img *ngIf="this.image == ' '" (click)="bigumage(1)" src="/assets/female_profile.png" style="width:50px;height:50px;border-radius: 100%;margin-right: 5px;" />
      <img *ngIf="this.image != ' '" (click)="bigumage(1)" src="{{this.image}}" style="width:50px;height:50px;border-radius: 100%;margin-right: 5px;"/> 
    
      </div> -->

   <!-- <div style="float: right;text-align: center;" *ngIf="this.image_big == 0" >

          <img *ngIf="this.image == ' '" (click)="bigumage(0)" src="/assets/female_profile.png" style="width:120px;height:120px;border-radius: 100%;margin-right: 5px;" />
          <img *ngIf="this.image != ' '" (click)="bigumage(0)" src="{{this.image}}" style="width:120px;height:120px;border-radius: 100%;margin-right: 5px;"/>
          
        </div> -->

        <div  style="position: relative; float: right; text-align: center;" *ngIf="this.image_big == 0">
          <!-- Image -->
          <img *ngIf="this.image == ' '" (click)="bigumage(0)" 
               src="/assets/female_profile.png" 
               style="width:120px; height:120px; border-radius: 100%; margin-right: 5px;" />
               
          <img *ngIf="this.image != ' '" (click)="bigumage(0)" 
               src="{{this.image}}" 
               style="width:120px; height:120px; border-radius: 100%; margin-right: 5px;" />
        
          <!-- Edit Icon -->
          <!-- <button  
                  style="position: absolute; top: 5px; right: 5px; background: none; border: none; cursor: pointer;">
            <img src="/assets/edit.png" alt="Edit" 
                 style="width: 20px; height: 20px;"/>
          </button> -->
          <!-- <ion-icon name="pencil" 
            (click)="editImage()"
            style="position: absolute; top: 5px; right: 5px; font-size: 20px; color: black; cursor: pointer;">
  </ion-icon> -->
        </div>
        
    </div>
      


      
      <ion-list style="width:100%;margin-top: 20px;background-color: #ffffff;">



        <ion-item class="item-background-color">
          <ion-icon name="person-circle-outline" item-left style="    background-color:#055073;                               
          height:25px;
          width:26px;
          line-height:25px;
          border-radius:50%;
          font-size:2.9rem;
          padding: 4px;
          color: white;"></ion-icon>
          <div style="white-space:normal;color:#055073;font-size:11px;font-weight: bold;text-transform: uppercase;padding-left: 10px;">{{this.fathername}}</div>
          </ion-item>
        
     <ion-item class="item-background-color">
      <ion-icon name="call" item-left style="    background-color:#055073;                               
      height:25px;
      width:26px;
      line-height:25px;
      border-radius:50%;
      font-size:2.9rem;
      padding: 4px;
      color: white;"></ion-icon>
      <div style="white-space:normal;color:#055073;font-size:11px;font-weight: bold;text-transform: uppercase;padding-left: 10px;">{{this.phoneno}}</div>
    </ion-item>

     <ion-item class="item-background-color">
      <ion-icon name="home" item-left style="    background-color:#055073;                               
      height:25px;
      line-height:25px;
      border-radius:50%;
      font-size:2.9rem;
       padding: 4px;
      color: white;width: 30px;"></ion-icon>
      <div style="white-space:normal;color:#055073;font-size:11px;font-weight: bold;text-transform: uppercase;padding-left: 10px;">{{this.address}}</div>
    </ion-item>


    <ion-item class="item-background-color">
    <ion-icon name="create" item-left style="    background-color:#055073;                               
    height:25px;
    width:26px;
    line-height:25px;
    border-radius:50%;
    font-size:2.9rem;
    padding: 4px;
    color: white;"></ion-icon>
    <div style="white-space:normal;color:#055073;font-size:11px;font-weight: bold;text-transform: uppercase;padding-left: 10px;">{{this.admno}}</div>
    </ion-item>


    <ion-item class="item-background-color">
      <ion-icon name="clipboard-outline" item-left style="    background-color:#055073;                               
      height:25px;
      width:26px;
      line-height:25px;
      border-radius:50%;
      font-size:2.9rem;
      padding: 4px;
      color: white;"></ion-icon>
      <div style="white-space:normal;color:#055073;font-size:11px;font-weight: bold;text-transform: uppercase;padding-left: 10px;">{{this.classname}}</div>
      </ion-item>
    
        </ion-list>


      </ion-grid>






      
</ion-content>
