<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="teacherhome"></ion-back-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <!-- <ion-row class="custom-rowheader" >
    <ion-col size="9" class="text-column">
      <p class="text">Classes</p>
    </ion-col>
    <ion-col size="3" class="amount-column">
      <p class="amount">&nbsp;</p>
    </ion-col>
  </ion-row> -->
<div style="background-color: #eceff8;height: 7px;">&nbsp;</div>
  <ng-container *ngFor="let groups of grouplist">

    <!-- <ion-row>
      <ion-col size="4"><img [src]="student.photo" *ngIf="student.photo" style="margin-top: -10px;height: 40px;width: 40px;border-radius: 50%;">
          <img src="./assets/010.png" *ngIf="!student.photo" style="margin-top: -11px;height: 40px;width: 40px;border-radius: 50%;">
      </ion-col>
      <ion-col size="7" style="font-size: 11px;font-weight:bold;margin-top: -10px;background-color: white!important;color: black;height: 33px;">{{student.stuname}}
         <br/>
         <p style="color:gray;margin-top: 4px;">
          {{student.enrollno}}
         </p>
         
      </ion-col>
  </ion-row> -->

  
  <ion-row class="custom-row" (click)="groupdetaillist(groups.id)">
    <ion-col size="12">
      <div style="width: 100%;">
        <div style="float: left; width: 18%;">
          <img src="./assets/groupicon.png" style="margin-top: -9px; height: 30px; width: 30px; border-radius: 50%;margin-top:1px;"></div>
        <div style="float: left; width: 82%;">
          <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;">
            <div style="width: 100%; text-align: left;font-size: 12px;color:black"><b>{{ groups.groupname }}  {{groups.stuid}}</b></div>
            <div style="width: 70%; text-align: right;font-size: 11px;color:gray"></div>
            <ion-icon name="chevron-forward-outline" style="color: gray;margin-top: 2px;"></ion-icon>
          </div>
          <div style="width: 100%;  align-items: center; justify-content: space-between;">
            <div style="width: 100%; text-align: left;font-size: 11px;color:gray">{{ groups.start_date }} - {{ groups.end_date }}</div>
          </div>
          
        </div>
      </div>
    </ion-col>
  </ion-row>
  
  

  
  
  <!-- <ion-row class="custom-row" >
    <ion-col size="3">
       <img [src]="student.photo" *ngIf="student.photo" style="margin-top: -10px;height: 40px;width: 40px;border-radius: 50%;"> 
      <img src="./assets/010.png" style="margin-top: -11px;height: 40px;width: 40px;border-radius: 50%;">
  </ion-col>
  
  <ion-col (click)="secwiseDue(DueAmount)" size="6" class="text-column">
    <p class="text">{{ this.Final_Due_Amount_Array[DueAmount].Stu_Name }}</p>
     <p class="text valsss">Valsss</p>

  </ion-col>
  
    <ion-col size="2" class="amount-column">
      <p class="amount">&#8377; {{this.Final_Due_Amount_Array[DueAmount].Due_Amount}}</p>
    </ion-col>
    <ion-col size="1" class="amount-column">
      <ion-icon name="chevron-forward-outline" style="color: gray;"></ion-icon>
    </ion-col>
  </ion-row> -->
  </ng-container>
  
<!--  <ion-list style="background-color: #F0F5F8;" *ngIf="this.grouplist.length == 0">-->
<!--    <ion-card>-->
<!--      <ion-item>-->
<!--        <div style="width:100%;">-->
<!--          <h5 style="font-size: 11px;color:black"><b>Groups Not Created...!!</b></h5>-->
<!--        </div>-->
<!--      </ion-item>-->
<!--    </ion-card>-->
<!--  </ion-list>-->

<ion-list style="background-color: #F0F5F8;" *ngIf="this.grouplist.length == 0" class="no-groups-card">
<ion-card class="no-groups-card" style="padding: 6px;padding-left: 15px;">
    
      <h6 class="no-groups-item" style="font-size: 12px;color: gray;">Groups Not Created...!!</h6>

  <!-- </ion-item> -->
</ion-card>
</ion-list>

</ion-content>
