<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style=" height: 110px;
  background: linear-gradient(#007ab3, #055073);
  border-bottom-left-radius: 193px 21px;
  border-bottom-right-radius: 250px 140px;
  margin-bottom: 20px;    box-shadow: -1px 7px #bbbec9;">
<p style="margin: 0px!important;padding-left: 20px;
font-size: 18px!important;color: white;padding-top: 5px;">Vaccination Administer</p>
<div style="margin: 0px!important; width: 100%;padding-top: 7px;">


</div> 
</div>


<ion-list >
     <ng-container *ngFor="let vaccines of this.vaccinations">
  <ion-item >
    <div style="width: 100%;height: 100%;" >
        
        <div  style="margin-left:10px;width: 5%;float: left;height:100%;">
        <div style="width:23px;border-radius: 50%;border:solid 	#fdad5c 2px;">&nbsp;</div>
        <div style="width:50%;border-right:solid 	#696969 2px;height:100%;margin-top:5px;margin-left:4px">&nbsp;</div>
  
  
        </div>
  
  
  <div style="width: 84%;float: left;background-color: #F0F5F8;padding: 7px;height:100%;margin-left:15px">
  <p style="margin-top: 5px;font-size:13px !important;white-space:pre-line;color: #055073;font-weight: bold;">	
     {{vaccines['HGM'].group_name}}
    </p>
    <p style="margin-top: 5px;font-size:13px !important;white-space:pre-line">	
      <b>Date of Dose :</b> {{vaccines['SMT'].date_of_dose}}
      </p>
      <p style="margin-top: 5px;font-size:13px !important;white-space:pre-line" *ngIf="vaccines['StudentImmunizationRecord'].dose_type == 'ND'">	
        <b>Dose Type:</b> Normal Dose
        </p>

        <p style="margin-top: 5px;font-size:13px !important;white-space:pre-line" *ngIf="vaccines['StudentImmunizationRecord'].dose_type == 'BD'">	
          <b>Dose Type:</b> Booster Dose
          </p>


        <p style="margin-top: 5px;font-size:13px !important;white-space:pre-line">	
          <b>Dose :</b> {{vaccines['SMT'].field_value}}
          </p>
          
  <div style="float:left; margin-right:5%;color:#696969;font-size:small;font-family: verdana;" > 
  
  
  </div>
  </div>
  
    </div>
  
      </ion-item>
    </ng-container> 







          <ion-list style="background-color: #F0F5F8;" *ngIf="this.status == false" >
            <ion-card >
            <ion-item>
               <div style="width:100%;">
                 <h5 style="font-size: 14px;color: #055073;"><b>{{this.message}}</b></h5>
               </div>
            </ion-item>
          </ion-card>
          </ion-list>

</ion-list>
</ion-content>
