<ion-header>


  <ion-toolbar>

    <div style="width:100% ;">
      <div style="width: 7%;float: left;">
        <img src="assets/tjs_logo.png" style="margin-left:5px;/*width:43px;*/height:29px;/*border-radius: 100%;*/" />
      </div>
      <div style="width: 83%;float: left;padding-top:6px ;">
        <ion-title style="font-size: 16px;">The Junior Study</ion-title>
      </div>


      <div style="width: 10%;float: right;padding-top:6px ;">
        <!-- <button ion-button icon-only (click)="showNotifications()" style="background-color: #10a3f7!important;" right>
          <ion-badge  color="accent" *ngIf="this.badges_counts_storage" style="color:white;background-color: red!important;">{{this.badges_counts_storage}}</ion-badge>
          <ion-icon name="notifications" style="font-size:2.10em!important">1</ion-icon>
        </button> -->
        <button id="cart-btn" ion-button icon-only (click)="notificationlist()"
          style="background-color: white;color: black;">
          <ion-icon name="notifications-outline" style="font-size:1.7em!important"></ion-icon>
          <ion-badge id="cart-badge" style="font-size: 10px;">{{newbedges}}</ion-badge>

        </button>
      </div>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #F0F5F8;">







  <div class="header1" style="height:14%;margin-top:5%;    box-shadow: 0 0 5px 1px #bfbfbf;">

  </div>



  <div style="position: relative;text-align: center;">
    <!--<img src="{{this.imgpath}}" style="width:87px;height:87px;border-radius: 100%;margin-top: 5px;" />-->
    <div style="width: 100%;">
      <div style="width:20%;float: left;">
        <img *ngIf="this.image == ' '" src="/assets/commonimage.jpg"
          style="width: 60px;height: 60px;border-radius: 50%;margin-top: 30%;margin-left: 5%;" />
        <img *ngIf="this.image != ' '" src="{{this.image}}"
          style="width: 60px;height: 60px;border-radius: 50%;margin-top: 30%;margin-left: 5%;" />
      </div>
      <div style="width:50%;float: left;margin-top: 7%;">
        <!-- <p>
        <b style="font-size:15px;color: white;color: #575757;text-transform: uppercase;">{{this.fname}} {{this.DesignationName}} </b>
      </p> -->
        <div style="width: 100%;">
          <b style="font-size:15px;color: #575757;text-transform: uppercase;">{{this.fname}} </b>
        </div>
        <div style="width: 100%;">
          <b style="font-size:11px;color: white;color: #575757;text-transform: uppercase;text-align: left;">Class :
            {{this.classname}} </b>
        </div>


      </div>

      <!-- <div style="width: 100%;display: flex;  align-items: center; justify-content: space-between;">
      <div style="width: 100%; text-align: left;font-size: 12px;color:black">{{ StuData.Stu_Name }}</div>
      <div style="width: 70%; text-align: right;font-size: 11px;color:gray"></div>
      <ion-icon name="chevron-forward-outline" style="color: gray;margin-top: 2px;"></ion-icon>
    </div>
    <div style="width: 100%;  align-items: center; justify-content: space-between;">
      <div style="width: 100%; text-align: left;font-size: 11px;color:gray">Father - {{ StuData.Father_Name }}</div>
    </div> -->


    </div>
    <!--<p *ngIf="this.user_hostel == 'Y'">
        <b ><img style="height: 21px;" src="/assets/correct_1.png"/></b>
        <b style="font-size:15px;color: #2acd72;" >&nbsp; Hostel &nbsp;&nbsp;</b>
        
        <b ><img style="height: 21px;" src="/assets/correct_1.png"/></b>
        <b style="font-size:15px;color: #2acd72;" >&nbsp;&nbsp;Academy</b>
        
      </p>-->



    <!--<p *ngIf="this.user_hostel != 'Y'">
        <b ><img style="height: 21px;" src="/assets/cross.png"/></b>
        <b style="font-size:15px;color: #da4453;" >&nbsp; Hostel &nbsp;&nbsp;</b>

        
        <b ><img style="height: 21px;" src="/assets/correct_1.png"/></b>
        <b style="font-size:15px;color: #2acd72;" >&nbsp;&nbsp;Academy</b>
      </p>-->

  </div>






  <ion-grid style="margin-top: 35%;">

    <ion-row class="ion-text-center">

      <!-- <ion-col size="4" *ngFor="let p of appPages; let i = index">



        <div *ngIf="p.title == 'Attendance' || p.title == 'HW/CW' || p.title == 'Contact Us' || p.title == 'Connect Us'"
          class="container" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected" style="border-radius: 50%;">
          <img src="{{p.img}}"
            style="border-radius: 10%!important;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 10px!important;">
          <p style="width:69px;color:#292d2f;margin-left: -4px;"><b>{{p.title}}</b></p>
        </div>

        <div *ngIf="p.title != 'Attendance' && p.title != 'HW/CW' && p.title != 'Contact Us' && p.title != 'Connect Us'"
          class="container" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected" style="border-radius: 50%;">
          <img src="{{p.img}}"
            style="border-radius: 10%!important;box-shadow: rgb(132 156 171) 0px 0px 4px;padding: 10px!important;">
          <p style="color:#292d2f	"><b>{{p.title}}</b></p>
        </div>




      </ion-col> -->
      <ion-col size="4" *ngFor="let p of appPages; let i = index">
        <div class="container" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
          routerLinkActive="selected" style="position: relative; display: inline-block;">

          <!-- Badge bubble — sirf tab dikhega jab > 0 ho -->
          <ion-badge *ngIf="p.badge > 0" style="position:absolute; top:-5px; right:-5px; 
             background:red; color:white; font-size:10px; 
             border-radius:50%; min-width:18px; height:18px;
             display:flex; align-items:center; justify-content:center;
             z-index:10;">
            {{p.badge}}
          </ion-badge>

          <img src="{{p.img}}"
            style="border-radius:10%!important; box-shadow:rgb(132 156 171) 0px 0px 4px; padding:10px!important;">
          <p style="color:#292d2f"><b>{{p.title}}</b></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <img (click)="chatbox()" src="assets/chatting.gif" style="height: 45px;
    width: 45px;float: right;bottom: 0;position: absolute;
    right: 0;margin-bottom: 23px;margin-right: 10px;" /> -->

  <!-- <div style="height: 45px; width: 45px; float: right; bottom: 0; 
    position: absolute; right: 0; margin-bottom: 23px; margin-right: 10px;">


    <ion-badge *ngIf="chatBadge > 0" style="position:absolute; top:-5px; left:-5px;
      background:red; color:white; font-size:10px;
      border-radius:50%; min-width:18px; height:18px;
      display:flex; align-items:center; justify-content:center;
      z-index:10;">
      {{chatBadge}}
    </ion-badge>

    <img (click)="chatbox()" src="assets/chatting.gif" style="height: 45px; width: 45px;" />
  </div> -->
  <div style="height: 45px; width: 45px; float: right; bottom: 0; 
    position: absolute; right: 0; margin-bottom: 23px; margin-right: 10px;">

    <ion-badge *ngIf="chatBadge > 0" style="
      position: absolute; 
      top: -8px; 
      left: -8px;
      background: red; 
      color: white; 
      font-size: 10px;
      border-radius: 50%; 
      width: 18px; 
      height: 18px;
      display: flex; 
      align-items: center; 
      justify-content: center;
      z-index: 10;
      padding: 0;
      line-height: 18px;
      text-align: center;">
      {{chatBadge}}
    </ion-badge>

    <img (click)="chatbox()" src="assets/chatting.gif" style="height: 45px; width: 45px;" />
  </div>

</ion-content>
<!-- <ion-footer style="background-color:#F0F5F8">

     <button ion-button block color="color1" (click)="logout('SignInPage')" style="width: 100%;color: white;font-size:13px;font-weight:bold;border-radius: 5px;    background: #055073;padding:13px;">Log Out</button>
    
    </ion-footer> -->

<ion-footer style="background-color:#eceff8" lines="none">

  <button ion-button block color="color1" (click)="logout('SignInPage')" style="box-shadow: rgb(132 156 171) 0px 0px 4px;width: 35%;margin-left: 65%;
      color: white;font-size:13px;font-weight:bold;border-radius: 5px;padding:13px;
     padding: 13px;border: solid #D8A1C9 1px;color: #4e79a3;background-color: #e9e9ed;">
    <img src="assets/log_out.png" style="    height: 20px;
     width: 23px;margin-right: 12px;margin-bottom: -5px;
     margin-left: -5px;border-radius: 10%!important;">
    Logout</button>
</ion-footer>